<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
               <div class="intro">
                    <p>Some of the machine learning projects i had the oppurtunity to work on.</p>
                </div><!--//intro-->
                <div class="item">
                    <a href = 'http://rpubs.com/shanmukha_karthik/307107'>
                    <span class="project-title"><a href="#" target="_blank">Predicting a Biological Response</a></span> 
                     </a>
                    <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
          
                  
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Breast cancer</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Practice fusion diabetes</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Predict Bidding Price of Generic Drugs</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
                 <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Prudential life insurance assessment</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Countable care modeling womens health care decisions</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Business Analytics</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
               </section><!--//section-->
